
PT1_Joao_Castro.fdb_latexmk
PT1_Joao_Castro.aux
PT1_Joao_Castro.aux
PT1_Joao_Castro.bcf
PT1_Joao_Castro.blg
PT1_Joao_Castro.fdb_latexmk
PT1_Joao_Castro.fls
PT1_Joao_Castro.idx
PT1_Joao_Castro.ilg
PT1_Joao_Castro.ind
PT1_Joao_Castro.log
PT1_Joao_Castro.out
PT1_Joao_Castro.synctex.gz
fig_MDP.aux
.fuse_hidden00000a7100000001
PT1_Joao_Castro.run.xml
PT1_Joao_Castro.aux.bbl
PT1_Joao_Castro.bbl
PT1_Joao_Castro.run.xml
.~1GgmivXnmxTRzJhJrpIIRTe5N_r1m_nd8-722c65.insyncdl
pdflatex472751.fls
fig_BellmanTail.aux
fig_stages.aux
PI_fig.aux
PI_fig.fdb_latexmk
PI_fig.fls
PI_fig.log
PI_fig.pdf
PI_fig.synctex.gz
PoI_fig.aux
PoI_fig.fdb_latexmk
PoI_fig.fls
PoI_fig.log
PoI_fig.pdf
PoI_fig.synctex.gz
PI_fig2.aux
PI_fig2.fdb_latexmk
PI_fig2.fls
PI_fig2.log
PI_fig2.pdf
PI_fig2.synctex.gz
PT1_Joao_Castro.tdo
PI_fig1.aux
GPI1.png.aux
PT1_Joao_Castro.pdf
PT1_Joao_Castro.aux.blg
Qualificacao.aux
Qualificacao.bbl
Qualificacao.blg
Qualificacao.fdb_latexmk
Qualificacao.fls
Qualificacao.idx
Qualificacao.ilg
Qualificacao.ind
Qualificacao.log
Qualificacao.out
Qualificacao.synctex.gz
abreviations.aux
abreviations.fdb_latexmk
abreviations.fls
abreviations.log
abreviations.tex
chapter5.log
texput.log
<CR>:VimtexCompile
texput.log
chapter5.aux
chapter5.fdb_latexmk
chapter5.fls
chapter6.aux
chapter6.fdb_latexmk
chapter6.fls
chapter6.log
Qualificacao.toc
Qualificacao.lof